<div *ngIf="client">
  <div class="form-group">
    <h5>Información Básica</h5>
  </div>
  <div class="form-group">
    <label for="firstName">Primer Apellido</label>
    <input id="firstName" type="text" class="form-control" [value]="client.firstSurname" disabled />
  </div>
  <div class="form-group">
    <label for="lastName">Primer Nombre</label>
    <input id="lastName" type="text" class="form-control" [value]="client.firstName" disabled />
  </div>
  <div class="form-group">
    <button (click)="goBack()">Volver</button>
  </div>
  
</div>
